  @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

    * {
      padding: 0;
      margin: 0;
      outline: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
    }

    *::after,
    *::before {
      box-sizing: inherit;
    }

    :root {
      --blue: hsl(223, 87%, 63%);
      --pale-blue: hsl(223, 100%, 88%);
      --light-red: hsl(354, 100%, 66%);
      --gray: hsl(0, 0%, 59%);
      --dark-blue: hsl(209, 33%, 12%);
    }

    body,
    html {
      min-height: 100vh;
    }

    body,
    main,
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    body {
      font-family: 'Libre Franklin', sans-serif;
      justify-content: space-evenly;
      font-size: 20px;
    }

    main {
      margin: 1rem 2rem;
      justify-content: center;
      gap: 1rem;
      max-width: 40rem;
    }

    header {
      background-image: url("images/logo.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 5rem;
      height: 5rem;
    }

    h1 {
      font-size: calc(1.5rem + 1vw);
      margin: 0;
      text-align: center;
      color: var(--gray, hsl(0, 0%, 59%))
    }

    strong {
      color: var(--dark-blue, hsl(209, 33%, 12%));
    }

    p,
    input,
    span {
      font-size: 0.9rem;
    }

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      width: 100%;
      border-radius: 2rem;
      padding: 0.8rem 2rem;
    }


    input[type="email"] {
      border: 1px solid var(--pale-blue, hsl(223, 100%, 88%));
      margin-bottom: 0.5rem;
    }

    input[type="email"],
    input::placeholder {
      color: var(--pale-blue, hsl(223, 100%, 88%));
    }

    input[type="submit"] {
      background: var(--blue, hsl(223, 87%, 63%));
      border: none;
      color: white;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      opacity: 0.6;
    }
    .success {
      color: green;
    }
    .alert{
      border:solid 1px var(--light-red, hsl(354, 100%, 66%)) !important;
      color:black !important;
    }


    span {
      color: var(--light-red, hsl(354, 100%, 66%));
      font-size: 0.8rem;
      margin-bottom: 1rem;
      font-style: italic;
      display: none;
    }

    .image-center {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .icons {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    .icon {
      border: solid 1px var(--pale-blue, hsl(223, 100%, 88%));
      cursor: pointer;
      font-size: 1.2rem;
      text-align: center;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      line-height: 1.6;
      color: var(--blue, hsl(223, 87%, 63%));
    }

    .icon:hover {
      background: var(--blue, hsl(223, 87%, 63%));
      color: white;
    }

    footer {
      justify-content: space-between;
      gap: 1rem;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    .info {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    form,
    .image-center {
      margin-bottom: 3rem;
    }

    input:-webkit-autofill,
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      box-shadow: 0 0 0 30px white inset !important;
    }

    
    @media (min-width:1000px) {
      h1 {
        font-size: calc(2.5rem + 1vw);
      }

      .info {
        font-size: 1.5rem;
      }

      .form {
        flex-direction: row;
        flex-wrap: wrap;
      }

      input[type="email"] {
        flex: 3;
        margin-right: 2%;
      }

      input[type="submit"] {
        flex: 1;
        align-self: start;
      }

      span {
        margin-left: 1.5rem;
        width: 80%;
        order: 2;
      }
    }